html {
	background-color: #F5F2EB;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #424342;
	width: 810px;
	margin: auto;
}

.content {
	width: 810px;
	height: 100%;
	background-color: #D9CDB8;
	top: 0;
	bottom: 0;
	position: absolute;
}
.content h1 {
	text-align: center;
}

$logoSize: 120px;
#logo {
	background-image: url('/images/logo.png');
	background-repeat: no-repeat;
	width: $logoSize;
	height: $logoSize;
	background-size: $logoSize;
	margin: 20px auto 20px auto;
}

.player {
	width: 640px;
	margin: auto;
}


$listColor: #88A6AF;
.playlist {
	margin: auto;
	width: 640px;
	ul {
		list-style-type: none;
		padding-left: 0;
		li {
			padding: 8px;
		}
		.odd {
			background-color: $listColor * 0.9;
		}
		.pair {
			background-color: $listColor;
		}
	}
}

.addMusic {
	text-align: center;
	input {
		margin-right: 10px;
	}
}

